set CHIPNAME gd32f303
set FLASH_SIZE 0x100000

source [find interface/stlink-dap.cfg]
transport select dapdirect_swd
source [find target/stm32f1x.cfg]

adapter speed 2000
reset_config srst_only srst_nogate connect_assert_srst

gdb_memory_map enable
gdb_flash_program enable
gdb_breakpoint_override hard

proc gd32f3x_debug_reset_start {} {
  adapter speed 2000
}

proc gd32f3x_debug_examine_end {} {
  # Keep debug active through low-power modes and halt watchdogs while stopped.
  mmw 0xe0042004 0x00000307 0
}

proc gd32f3x_debug_reset_init {} {
  # Mirror the GD32F30x reset-init sequence used by community target scripts.
  mww 0x40021004 0x00380000
  mmw 0x40021000 0x01000000 0
  mww 0x40022000 0x00000012
  sleep 10
  mmw 0x40021004 0x00000002 0

  adapter speed 2000
}

$_TARGETNAME configure -event reset-start { gd32f3x_debug_reset_start }
$_TARGETNAME configure -event examine-end { gd32f3x_debug_examine_end }
$_TARGETNAME configure -event reset-init { gd32f3x_debug_reset_init }
